services:
    etcd-1:
        image: quay.io/coreos/etcd:v3.5.7
        entrypoint: /usr/local/bin/etcd
        command:
            - '--name=etcd-1'
            - '--initial-advertise-peer-urls=http://etcd-1:2380'
            - '--listen-peer-urls=http://0.0.0.0:2380'
            - '--listen-client-urls=http://0.0.0.0:2379'
            - '--advertise-client-urls=http://etcd-1:2379'
            - '--heartbeat-interval=250'
            - '--election-timeout=1250'
            - '--data-dir=/etcd-data'
            - '--initial-cluster=etcd-1=http://etcd-1:2380'
            - '--initial-cluster-state=new'
            - '--initial-cluster-token=mys3cr3ttok3n'
        ports:
            - "12379:2379"
        volumes:
            - ./data/etcd1:/etcd-data:rw
        networks:
            - bridge-network

networks:
    bridge-network:
        driver:  bridge
        enable_ipv6: false
